.tabContents__items {
    height: 91px;
    background: #fff;
    border: 1px solid #66666620;
    border-radius: 5px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    padding: 0 35px;
  }
  .tabContents__items p {
    margin-bottom: 0;
    margin-left: 25px;
  }
  .tabContents__items .tabIcon {
      color: #00A859;
  }
  .tabContents__items a {
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
  }